<navbar></navbar>
<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading ">
			<button type="button" class="close" aria-label="Close" ui-sref="check({AMC:$ctrl.AMC, AIN:$ctrl.AIN, WPI:$ctrl.WPI})"><span aria-hidden="true">&times;</span></button>
			<h1 class="panel-title" >
			<i class="fa fa-calendar-check-o" aria-hidden="true" ng-if="$ctrl.itemType!=4"></i>
			<i class="fa fa-wpforms" aria-hidden="true" ng-if="$ctrl.itemType==4"></i> {{$ctrl.item.HRI}}</b></h1>
		</div>

		<div class="panel-body">
			<uib-tabset justified="true" type="pills" vertical="true" >
				<uib-tab select="$ctrl.select('item')">
					<uib-tab-heading ><div ng-if="$ctrl.itemType!=4">Card</div><div ng-if="$ctrl.itemType==4">Work Order</div></uib-tab-heading><br>
					<card data="$ctrl.item" ng-if="$ctrl.itemType!=4"></card>
					<work-order data="$ctrl.item" ng-if="$ctrl.itemType==4"></work-order>
				</uib-tab>

				<uib-tab select="$ctrl.select('findings')">
					<uib-tab-heading><i class="fa fa-hand-o-up" aria-hidden="true"></i> Findinds <span class="badge">{{$ctrl.item.NRF_Segments.length}}</span>
					</uib-tab-heading><br>
					<finding-list data="$ctrl.item" on-edit-finding = "$ctrl.editFinding(finding)" ng-if="!$ctrl.selectedfinding" ></finding-list>
					<finding finding="$ctrl.selectedfinding" ng-if="$ctrl.selectedfinding"></finding>
				</uib-tab>

				<uib-tab  select="$ctrl.select('movements')">
					<uib-tab-heading><i class="fa fa-exchange fa-rotate-90" aria-hidden="true"></i>   Removed and Installed Parts <span class="badge">{{$ctrl.item.PAR_Segments.length + $ctrl.item.IPT_Segments.length}}</span>
					</uib-tab-heading><br>
					<movement ain="$ctrl.AIN" hri="$ctrl.HRI" data = "$ctrl.item"
					removal = "$ctrl.removal" installation  = "$ctrl.installation" ng-if="!$ctrl.removal&&!$ctrl.installation"></movement>
					<removal removal = "$ctrl.removal" on-edit-installation = "$ctrl.editInstallation(installation)" ng-if = "$ctrl.removal"></removal>
					<installation installation = "$ctrl.installation" on-edit-removal = "$ctrl.editRemoval(removal)" amc = "$ctrl.AMC" ain="$ctrl.AIN" ng-if = "$ctrl.installation"></installation>
				</uib-tab>
			</uib-tabset>


		</div>
		

		<div class="panel-footer">

			<div class="pull-right bg-info"  ng-if="$ctrl.tab =='item'"> 
				<save-delete-cancel data = "$ctrl.item" back = "$ctrl.back"</save-delete-cancel>

			</div>
			<div class="pull-right bg-info" ng-if="$ctrl.tab =='findings'">
				<new-finding selectedfinding = "$ctrl.selectedfinding" hri = "$ctrl.HRI" ng-if="!$ctrl.selectedfinding"></new-finding>
				<save-delete-cancel data = "$ctrl.selectedfinding" model = "$ctrl.findingModel" ng-if="$ctrl.selectedfinding" deletable="true"></save-delete-cancel>
				
			</div>
			<div class="clearfix"></div>

			<div class="pull-right bg-info" ng-if="$ctrl.tab =='movements'">
				<new-movement ain="$ctrl.AIN" hri="$ctrl.HRI" ng-if="!$ctrl.removal&&!$ctrl.installation" removal = "$ctrl.removal" installation = "$ctrl.installation"></new-movement>	
				<save-delete-cancel data = "$ctrl.removal" model = "$ctrl.removalModel" ng-if="$ctrl.removal" deletable = "$ctrl.removal.deletable"></save-delete-cancel>
				<save-delete-cancel data = "$ctrl.installation" model = "$ctrl.installationModel" ng-if="$ctrl.installation" deletable = "true"></save-delete-cancel>
				
			</div>
			<div class="clearfix"></div>
		</div>


	</div>
</div>