  <div class="row">


    <form class="form-horizontal col-lg-4 col-md-6">
      <div class="form-group ">
        <label class="col-sm-6 control-label">Manufacturer Inspection Identifier</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{editwo.wo.AWR_Segment.TWI}}</p>
        </div>
      </div>
    </form>
    <form class="form-horizontal col-lg-4 col-md-6">
      <div class="form-group ">
        <label class="col-sm-6 control-label">ATA</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{editwo.wo.AWR_Segment.ATA}}</p>
        </div>
      </div>
    </form>
    <form class="form-horizontal col-lg-4 col-md-6">
      <div class="form-group ">
        <label class="col-sm-6 control-label">Operator Main Task Interval</label>
        <div class="col-sm-6">
          <p class="form-control-static">{{editwo.wo.AWR_Segment.OMN}}</p>
        </div>
      </div>
    </form>
    <form class="form-horizontal col-lg-4 col-md-6">
      <div class="form-group ">
        <label class="col-sm-6 control-label">Task End Date </label>
        <div class="col-sm-6">
          <date-input date = "editwo.wo.TED"></date-input>
      </div>
    </div>
  </form>

</div>

</br>


<br>
<div class="row">
  <div class="col-md-12">
    <label for="FDT">Operator Task Description </label>
    <pre>{{editwo.wo.AWR_Segment.FDT}}</pre>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="MNT">Word done</label>
    <textarea class="form-control" rows="3" id="MNT"  ng-model="editwo.wo.AWR_Segment.MNT" ></textarea>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="REM">Remarks</label>
    <textarea class="form-control" rows="3" id="REM"  ng-model="editwo.wo.AWR_Segment.REM" ></textarea>
  </div>
</div>

</div>
