.modal-dialog {
  width: 90%;
  height: auto;
  margin: 5%;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.normal { font-weight: normal; }

.higher { font-weight: bold; }