


    <div class="row">


        <field label="Operator Inspection Identifier" var="editcard.card.OII" class="col-lg-4 col-md-6" ng-if="editcard.card.OST"></field>


         <field label="Manufacturer Inspection Identifier" var="editcard.card.MII" class="col-lg-4 col-md-6" ng-if="!editcard.card.OST"></field>


        <field label="ATA" var="editcard.card.ATA" class="col-lg-4 col-md-6"></field>

        <field label="Operator Main Task Interval" var="editcard.card.OMN" class="col-lg-4 col-md-6"></field>


      <form class="form-horizontal col-lg-4 col-md-6">
        <div class="form-group ">
          <label class="col-sm-6 control-label">Task End Date </label>
          <div class="col-sm-6">
            <date-input date = "editcard.card.TED"></date-input>
          </div>
        </div>
      </form>

    </div>

    <br>
    <br>
    <div class="row">
      <div class="col-md-12">
        <label for="OTD">Operator Task Description </label>
        <pre id="OTD">{{editcard.card.OTD}}</pre>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="MNT">Word done</label>
        <textarea class="form-control" rows="3" id="MNT"  ng-model="editcard.card.MNT" ></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="REM">Remarks</label>
        <textarea class="form-control" rows="3" id="REM"  ng-model="editcard.card.REM" ></textarea>
      </div>
    </div>



