<div class="row">
  <div class="col-md-12">
    <label for="OTD">Finding Defect</label>
    <textarea class="form-control" rows="3" id="OTD"  ng-model="$ctrl.finding.FDT" ></textarea>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="MNT">Corrective Action</label>
    <textarea class="form-control" rows="3" id="MNT"  ng-model="$ctrl.finding.MNT" ></textarea>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="REM">Remarks</label>
    <textarea class="form-control" rows="3" id="REM"  ng-model="$ctrl.finding.REM" ></textarea>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br>
    <form class="form-horizontal">
      <div class="form-group ">
        <label class="col-sm-6 control-label">Non-Routine Finding Date</label>
        <div class="col-sm-6">
          <date-input date = "$ctrl.finding.NFD"></date-input>
        </div>
      </div>
    </form>
  </div>
</div>



