<uib-alert  type="danger" dismiss-on-timeout ng-if="$ctrl.uncorrelated" close="$ctrl.closeAlert()">This is not a references file.</uib-alert>


<div class="row">
	<div class="col-md-4" >
		<span class="btn btn-primary btn-lg btn-block btn-file" ng-class="{'btn-success glyphicon glyphicon-ok' : $ctrl.checkReady}">
			References file <input type="file" on-read-file="$ctrl.loadReferences($fileContent)">
		</span>


	</div>

	<div class="col-md-4" >
		<span class="btn btn-primary btn-lg btn-block btn-file" ng-click="$ctrl.save()" ng-disabled="!$ctrl.referencesReady">
		Save
		</span>
	</div>

		<div class="col-md-4" >
		<span class="btn btn-danger btn-lg btn-block btn-file" ng-click="$ctrl.clear()">
			Clear
		</span>
	</div>
</div>













