<div class="panel panel-info" ng-if="!findinglist.selectedfinding">
  
  <div class="panel-heading ">

    <h1 class="panel-title">
      Findings 
    </h1>


  </div>
  <div class="panel-body">


	<div ui-grid="findinglist.gridOptions" ng-if="findinglist.data.NRF_Segments.length" ui-grid-auto-resize ng-style="findinglist.getTableHeight()"></div>

	

  </div>

  <div class="panel-footer ">
    <div class="pull-right bg-info">
        
      <button type="button" class="btn   btn-info" ng-click="findinglist.create()" >
        <i class="fa fa-plus-square-o fa-1x fa-fw" aria-hidden="true"></i> 
      </button>  
    </div>
    <div class="clearfix"></div>
  </div>


</div>


<finding data="findinglist.selectedfinding" ng-if="findinglist.selectedfinding"></finding>