<div class="panel panel-info">
	<div class="panel-heading ">

		<h1 class="panel-title">
			<button type="button" class="close" aria-label="Close" ui-sref="checks"><span aria-hidden="true">&times;</span></button>
			Work Package <b>{{$ctrl.data.WPI_Segment.WPI}}</b>
		</h1>

	</div>
	<div class="panel-body">

			<field label="AIN" var="$ctrl.data.AID_Segment.AMC" class="form-group col-md-4"></field>

			<field label="AIN" var="$ctrl.data.AID_Segment.AIN" class="form-group col-md-4"></field>

			<field label="REG" var="$ctrl.data.AID_Segment.REG" class="form-group col-md-4"></field>




		<form class="form-horizontal">
        <div class="form-group col-md-6">
          <label class="col-sm-4 control-label">WOD</label>
          <div class="col-sm-8">
            <date-input date = "$ctrl.data.WPI_Segment.WOD"></date-input>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="col-sm-4 control-label">WOE</label>
          <div class="col-sm-8">
            <date-input date = "$ctrl.data.WPI_Segment.WOE"></date-input>
          </div>
        </div>
      </form>

	</div>


	<div class="panel-footer ">
	<div class="pull-right bg-info">
		<button type="button" class="btn   btn-danger " ng-click="$ctrl.delete()" >
			<i class="fa fa-trash fa-1x fa-fw" aria-hidden="true"></i> 
		</button>

		<button type="button" class="btn  btn-info" ng-click="$ctrl.exportRow()" download="{{$ctrl.exportFile}}" ng-href="{{$ctrl.exportUrl }}" ng-disabled="!$ctrl.data.WPI_Segment.WOD">
			<i class="fa fa-cloud-download fa-1x fa-fw" aria-hidden="true"></i> 
		</button>

		<button type="button" class="btn   btn-info" ng-click="$ctrl.save()" >
			<i class="fa fa-floppy-o fa-1x fa-fw" aria-hidden="true"></i> 
		</button>

		</div>
		<div class="clearfix"></div>
	</div>


</div>

<div ui-grid="$ctrl.gridOptions" ng-style="$ctrl.getTableHeight()"></div>