      <button type="button" class="btn   btn-warning " ng-click="$ctrl.close()" >
        <i class="fa fa-times fa-1x fa-fw" aria-hidden="true"></i> 
      </button>
      <button type="button" class="btn   btn-danger " ng-click="$ctrl.delete()" ng-if="$ctrl.deletable">
        <i class="fa fa-trash fa-1x fa-fw" aria-hidden="true"></i> 
      </button>
      <button type="button" class="btn   btn-info" ng-click="$ctrl.save()" >
        <i class="fa fa-floppy-o fa-1x fa-fw" aria-hidden="true"></i> 
      </button>